

{% extends 'bases/base.html' %}
{% load static %}

{% block content %}

         <div class="full-slider">
            <div id="carousel-example-generic" class="carousel slide">
               <!-- Wrapper for slides -->
               <div class="carousel-inner" role="listbox">
                  <!-- First slide -->
                  <div class="item active deepskyblue" data-ride="carousel" data-interval="5000">
                     <div class="carousel-caption">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                     </div>
                  </div>

               </div>

            </div>
         </div>

{% endblock content %}